<template>
  <div id="app" class="min-h-screen">
    <TopNav />
    <div
      id="content"
      class="
        max-w-4xl
        py-6 md:py-8
        px-4 sm:px-8 md:px-12
        antialiased
        bg-gray-100
      "
    >
      <transition name="slide-fade" mode="out-in">
        <router-view :key="$route.fullPath" />
      </transition>
    </div>
  </div>
</template>
<script>
import TopNav from "@/components/TopNav";

export default {
  name: "App",
  components: {
    TopNav
  },
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "kemendius",
    // all titles will be injected into this template
    titleTemplate: "%s | kemendius"
  }
};
</script>
<style>
/** TRANSITIONS */
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease-out;
}

.slide-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease;
}
.slide-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

.slide-up-enter {
  transform: translateY(120px); /* start n px down*/
  opacity: 0;
}
.slide-up-enter-active {
  transition: all 0.2s ease;
}

.slide-left-enter {
  transform: translateX(50px); /* start n px down*/
  opacity: 0;
}
.slide-left-enter-active {
  transition: all 0.2s ease;
}
</style>
