<template functional>
  <p
    v-if="props.viewers > 0"
    class="
      absolute
      p-1 rounded-sm
      text-xs text-white font-normal italic bg-gray-800
    "
    :title="
      `There are currently ${props.viewers} other people looking at this page`
    "
  >
    <BaseIcon
      v-if="props.viewers > 0"
      :name="props.viewers === 1 ? 'user' : 'user-group'"
    />{{ props.viewers }}
    <span class="hidden sm:inline">
      <span v-if="props.viewers == 1">more viewer</span>
      <span v-else>more viewers</span>
    </span>
  </p>
</template>
<script>
export default {
  props: {
    viewers: { type: Number, required: true }
  }
};
</script>

<style scoped>
p {
  top: 12px;
  right: 12px;
  cursor: help;
}
</style>
