<template>
  <button
    class="
          flex-none
          disabled:bg-gray-500 disabled:cursor-not-allowed
          bg-green-500 hover:bg-green-700 text-white
          px-6 py-2 mx-2
        "
    type="submit"
  >
    <span class="block font-semibold leading-none">{{ text }}</span>
    <small v-if="subtext" class="text-xxs uppercase leading-none">{{
      subtext
    }}</small>
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    },
    subtext: {
      type: String,
      required: false
    }
  }
};
</script>

<style scoped></style>
