<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 fill-current inline"
    :class="color"
    :width="width"
    :height="height"
    @click="click"
  >
    <use v-bind="{ 'xlink:href': '/icons.svg#' + name }" />
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: "text-white"
    },
    name: {
      type: String,
      required: true
    },
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    }
  },
  methods: {
    click(event) {
      this.$emit("click", event);
    }
  }
};
</script>

<style lang="scss" scoped></style>
