<template>
  <div class="mt-6 mb-4">
    <div class="mt-6 mb-4" v-if="displayableComments.length > 0">
      <h3 class="font-thin">Comments:</h3>
      <transition-group tag="ul" name="slide-up" class="list-disc pl-6">
        <template v-for="(comment, index) in displayableComments">
          <li class="comment" :key="index">
            <span v-if="comment.quote">
              <span class="italic mr-1 text-sm font-thin"
                >&ldquo;{{ comment.quote }}&rdquo;:</span
              >
              &nbsp;
            </span>
            <span>{{ comment.text }}</span>
          </li>
        </template>
      </transition-group>
    </div>

    <h3 class="mt-4 text-base font-thin">Add a comment:</h3>
    <form
      id="comment-form"
      class="flex items-start"
      @submit.prevent="sendComment"
    >
      <textarea
        class="flex-grow text-base border border-solid p-2"
        cols="80"
        rows="3"
        placeholder="Don't be shy..."
        v-model="comment.text"
        ref="comment"
        @keydown.shift.enter.exact.prevent="sendComment"
      ></textarea>
      <BaseSubmit
        :disabled="!comment.text"
        text="Send"
        subtext="shift - enter"
      ></BaseSubmit>
    </form>
  </div>
</template>

<script>
export default {
  name: "Comments",
  props: {
    comments: { type: Array, required: true }
  },
  data() {
    return {
      comment: {
        text: ""
      }
    };
  },
  computed: {
    displayableComments() {
      if (this.comments) {
        return this.comments.filter(comment => {
          return comment.text && !comment.path;
        });
      } else {
        return [];
      }
    }
  },
  methods: {
    sendComment() {
      this.comment.text = this.comment.text.trim();
      if (!this.comment.text.length) return;

      this.$emit("comment-submitted", this.comment);
      this.$refs["comment"].focus();
      this.comment = {};
    }
  }
};
</script>
