<template>
  <div>
    <header class="my-4">
      <h2 class="text-lg font-thin">
        I would love your feedback on this text.
      </h2>
      <p class="text-xs font-thin">
        Post general comments below, or just select text you want to highlight
        and comment on.
        <!-- Use Ctrl-Z to undo a highlight. -->
      </p>
    </header>

    <Highlightable
      class="
        submission
        relative
        text-base
        bg-white
        p-4 sm:p-6 border border-solid rounded shadow"
      :text="item.rendered"
      :highlights="item.comments"
      :menu="menu"
      @added-highlight="postHighlight"
    />

    <Comments @comment-submitted="postComment" :comments="item.comments" />

    <p class="font-thin">
      <small>
        Send this link to collect feedback:
        <router-link :to="{ name: 'text', params: { id: item.id } }">{{
          $window.location
        }}</router-link>
      </small>
    </p>
  </div>
</template>

<script>
import Comments from "./Comments";
import Highlightable from "./Highlightable";

export default {
  name: "FeedbackItem",
  components: {
    Comments,
    Highlightable
  },
  props: {
    item: { type: Object, required: true }
  },
  data() {
    return {
      menu: {
        comment: true,
        actions: [
          {
            icon: "thumbs-up",
            color: "text-green-300",
            callback: this.thumbsUp
          },
          {
            icon: "marker",
            color: "text-yellow-400"
          },
          {
            icon: "thumbs-down",
            color: "text-red-300",
            callback: this.thumbsDown
          }
        ]
      }
    };
  },
  methods: {
    postHighlight(highlight) {
      this.$emit("added-highlight", highlight);
    },
    postComment(comment) {
      this.$emit("added-comment", comment);
    },
    // callbacks
    thumbsDown(highlight) {
      this.$set(highlight, "thumbs", -1);
    },
    thumbsUp(highlight) {
      this.$set(highlight, "thumbs", +1);
    }
  }
};
</script>
