<template>
  <div>
    <header class="mt-4 mb-2">
      <h2 class="text-xl py-1 font-thin">Enter text for feedback:</h2>
    </header>
    <form class="flex items-start" @submit.prevent="sendItem">
      <textarea
        class="
          flex-grow
          text-base
          border border-solid p-2
          focus:outline-none focus:shadow-outline
          focus:bg-blue-100 focus:border-blue-300
        "
        required
        cols="80"
        rows="10"
        v-focus
        v-model="item.text"
        placeholder="Be creative..."
        ref="item"
        @keydown.shift.enter.exact.prevent="sendItem"
      ></textarea>
      <BaseSubmit
        :disabled="item.text.trim().length === 0"
        text="Send"
        subtext="shift - enter"
      ></BaseSubmit>
    </form>
    <div>
      <h2 class="italic font-thin">Preview:</h2>
      <div
        class="markdown p-4 border border-solid rounded"
        v-html="preview"
      ></div>
    </div>
  </div>
</template>

<script>
import marked from "marked";

export default {
  name: "FeedbackItemForm",
  data() {
    return {
      item: {
        id: null,
        text: ""
      }
    };
  },
  computed: {
    preview() {
      return marked(this.item.text);
    }
  },
  methods: {
    sendItem() {
      this.$emit("item-submitted", this.item);
    }
  }
};
</script>
