<template>
  <div>
    <header class="mt-4 mb-2">
      <h2 class="text-xl py-1 font-thin">Upload an image for feedback:</h2>
    </header>

    <form @submit.prevent="submit" class="m-4 clearfix w-3/4">
      <div>
        <input
          type="file"
          class="float-left border border-gray-300 w-3/4"
          ref="fileInput"
          tabindex="0"
          v-focus
          @change="fileChanged"
        />
      </div>
      <BaseSubmit
        :disabled="!submitEnabled()"
        class="float-right"
        tabindex="1"
        text="Upload"
        ref="submit"
      ></BaseSubmit>
    </form>
  </div>
</template>

<script>
export default {
  name: "FileUpload",
  data() {
    return { e2e: false, filename: null };
  },
  created() {
    // Hack so that the submit button is enabled in e2e tests
    this.e2e = this.$route.query["e2e"] == "true";
  },
  methods: {
    submitEnabled() {
      return this.e2e || this.filename;
    },
    getFileName() {
      let input = this.$refs.fileInput;
      let file = input && input.files[0];
      return file && file.name;
    },
    fileChanged(event) {
      this.filename = this.getFileName();
      if (this.filename) {
        this.$refs.submit.$el.focus();
      }
    },
    submit() {
      const file = this.$refs.fileInput.files[0];
      var data = new FormData();
      data.append("name", file.name);
      data.append("type", file.type);
      data.append("body", file);
      this.$emit("form-submitted", { data, file });
    }
  }
};
</script>
