<template>
  <span v-if="fingerprint">{{ fingerprint.ip }}</span>
</template>

<script>
import axios from "axios";

export default {
  name: "Fingerprint",
  data() {
    return { fingerprint: null };
  },
  async created() {
    let response = await axios.get("https://www.cloudflare.com/cdn-cgi/trace");
    // console.info(response.data);
    this.fingerprint = {};
    for (let line of response.data.split("\n")) {
      let [k, v] = line.split("=");
      this.fingerprint[k] = v;
    }
  }
};
</script>
