<template>
  <!-- contenteditable is required for keyboard events to work: we're not using it for now -->
  <div>
    <div
      class="highlightable"
      @keydown.prevent
      @keyup.ctrl.z.prevent="undo"
      @pointerup.prevent="selectionMade"
      v-html="text"
    ></div>
    <highlight-menu
      ref="menu"
      v-if="menu && showMenu"
      :menu="menu"
      :highlight="highlight"
      :x="menuX"
      :y="menuY"
      @menu-clicked="menuClicked"
      @menu-cancel="menuClose"
    >
    </highlight-menu>
  </div>
</template>

<script>
import HighlightMenu from "./HighlightMenu";

export default {
  name: "Highlightable",
  components: {
    HighlightMenu
  },
  props: {
    text: { type: String, required: true },
    highlights: { type: Array, required: true },
    menu: { type: Object, required: false }
  },
  data() {
    return {
      undoable: false,
      showMenu: false,
      ongoingSelection: false,
      menuX: 0,
      menuY: 0,
      highlight: {},
      selectionData: {}
    };
  },
  computed: {
    cleanText() {
      return this.text.split("\n");
    },
    lastHighlight() {
      if (this.highlights.length === 0) {
        return null;
      } else {
        return this.highlights[this.highlights.length - 1];
      }
    }
  },
  mounted() {
    this.init();
  },
  watch: {
    highlights(newVal, oldVal) {
      let index = newVal.length - 1;
      let item = newVal[index];
      // if this is a websocket message, display
      if (item.source) {
        this.addSingleHighlight(item, index);
      }
    }
  },
  methods: {
    init() {
      // start adding ids to the .highlightable div
      this.addNodeIds(this.$vnode.elm.childNodes[0]);
      // add all initial highlights, passed in as props
      this.addAllHighlights(this.highlights);
    },
    isEmpty(sel) {
      return (
        sel.anchorNode === sel.focusNode && sel.anchorOffset === sel.focusOffset
      );
    },
    addNodeIds(node, startIndex = 0) {
      let index = startIndex;
      for (let i = 0; i < node.children.length; i++) {
        let child = node.children[i];
        child.id = `p-${index}`;
        if (child.children) {
          index = this.addNodeIds(child, index + 1);
        }
      }
      return index;
    },
    selectionMade(event) {
      // only process mouse up events if no menu is open
      if (!this.ongoingSelection) {
        this.ongoingSelection = true;
        let sel = this.$window.getSelection();
        let { highlight, selectionData } = this.createHighlight(sel);

        this.highlight = highlight;
        this.selectionData = selectionData;

        if (!this.isEmpty(sel)) {
          if (this.menu) {
            this.displayMenu(event);
          } else {
            this.menuClicked();
          }
        } else {
          this.ongoingSelection = false;
        }
      }
    },
    displayMenu(event) {
      this.showMenu = true;
      this.menuX = event.clientX;
      this.menuY = event.clientY;
    },
    menuClicked() {
      this.displayHighlight(this.selectionData, this.highlight);
      this.$emit("added-highlight", this.highlight);
      this.menuClose();
    },
    menuClose() {
      this.showMenu = false;
      this.ongoingSelection = false;
    },
    getCssClass(highlight) {
      return highlight.thumbs > 0
        ? "highlight-good"
        : highlight.thumbs < 0
        ? "highlight-bad"
        : null;
    },
    findParagraphOffset(paragraph, anchorNode, anchorOffset) {
      // Find the actual text offset within the "paragraph" which
      // is the parent of the anchorNode (possibly a #text node).
      let offset = 0;
      for (let node of paragraph.childNodes) {
        if (node == anchorNode) {
          offset += anchorOffset;
          break;
        } else {
          offset += node.textContent.length;
        }
      }
      return offset;
    },
    findNodeAndOffset(parent, offset) {
      // The reverse of findParagraphOffset, this locates the child node
      // that corresponds to the offset, and returns the relative offset
      for (let node of parent.childNodes) {
        if (offset <= node.textContent.length) {
          return [node, offset];
        } else {
          offset -= node.textContent.length;
        }
      }
      // TODO: not finding the node should be an error... default to
      // first node?
      return [parent.childNodes[0], offset];
    },
    addAllHighlights(highlights) {
      let sortedHighlights = highlights.filter(item => item.quote);
      // reverse sort on paragraph offset, so that we apply highlights
      // from end to beginning. This way we can always rely on splitting
      // the first child (text node) and the algorithm becomes simpler
      sortedHighlights.sort((a, b) => b.startOffset - a.startOffset);
      for (let [index, highlight] of sortedHighlights.entries()) {
        this.addSingleHighlight(highlight, index);
      }
    },
    addSingleHighlight(highlight, index) {
      if (highlight.quote) {
        try {
          let selectionData = this.createSelection(highlight);
          this.displayHighlight(selectionData, highlight, index);
        } catch (e) {
          // we can't display this highlight, but let's not stop here
        }
      }
    },
    findAncestorWithId(node, prefix = "") {
      // FIXME: this may not work in some cases (e.g.a text node
      // within a p that has preceding inline elems)
      while (node && (!node.id || node.id.indexOf(prefix) === -1)) {
        node = node.parentElement;
      }
      return node;
    },
    normalizeSelection(selection) {
      let { anchorNode, anchorOffset, focusNode, focusOffset } = selection;

      let p0 = this.findAncestorWithId(anchorNode, "p");
      let p1 = this.findAncestorWithId(focusNode, "p");

      // make sure selection is always predictable Left-to-Right
      if (p0.id > p1.id || (p0.id == p1.id && anchorOffset > focusOffset)) {
        [p0, p1, anchorNode, anchorOffset, focusNode, focusOffset] = [
          p1,
          p0,
          focusNode,
          focusOffset,
          anchorNode,
          anchorOffset
        ];
      }
      return { p0, p1, anchorNode, anchorOffset, focusNode, focusOffset };
    },
    createSelection({ startParagraph, startOffset, endParagraph, endOffset }) {
      // This is called when loading highlights from backend.
      // It creates an HTML selection based on the highlight's stored data

      // TODO: cross-paragraph selections
      if (startParagraph !== endParagraph) return null;

      let p0 = this.$el.querySelector(`#p-${startParagraph}`);

      // FIXME: This assumes no highlights have been applied before the startOffset.
      // (For this to work in a few cases we reverse-sort the selections so that
      // they are applied from end to start.)
      let [textNode, childOffset] = this.findNodeAndOffset(p0, startOffset);

      return {
        p0,
        p1: p0,
        anchorNode: textNode,
        anchorOffset: childOffset,
        focusNode: textNode,
        focusOffset: endOffset - (startOffset - childOffset)
      };
    },
    createHighlight(selection) {
      // TODO: selection across nodes - e.g. selection starting/ending from within a mark
      // deal with reversed selection
      let {
        p0,
        p1,
        anchorNode,
        anchorOffset,
        focusNode,
        focusOffset
      } = this.normalizeSelection(selection);

      let highlight = {
        quote: selection.quote || selection.toString(),
        text: "", // TODO: allow adding text to a highlight
        startParagraph: p0.id.split("-")[1],
        startOffset: this.findParagraphOffset(p0, anchorNode, anchorOffset),
        endParagraph: p1.id.split("-")[1],
        endOffset: this.findParagraphOffset(p1, focusNode, focusOffset)
      };
      let selectionData = { anchorNode, anchorOffset, focusNode, focusOffset };
      return { highlight, selectionData };
    },
    displayHighlight(
      { anchorNode, anchorOffset, focusNode, focusOffset },
      highlight,
      index
    ) {
      if (anchorNode !== focusNode) {
        // not supported at the moment
        // let commonAncestor = sel.getRangeAt(0).commonAncestorContainer;
        // console.log(commonAncestor);
        // alert("Visual highlight over different DOM nodes not supported");
      } else {
        this.singleNodeHighlight(
          typeof index !== "undefined" ? index : this.highlights.length,
          anchorNode,
          anchorOffset,
          focusOffset,
          highlight
        );
      }
    },
    singleNodeHighlight(
      index,
      anchorNode,
      anchorOffset,
      focusOffset,
      highlight
    ) {
      let nodesWithMark = this.addMark(
        anchorNode,
        index,
        anchorOffset,
        focusOffset,
        highlight
      );
      anchorNode.replaceWith(...nodesWithMark);
    },
    addMark(node, index, startOffset, endOffset, highlight) {
      let cls = this.getCssClass(highlight);
      // TODO: use https://developer.mozilla.org/en-US/docs/Web/API/Text/splitText
      let pretext = node.textContent.substring(0, startOffset);
      let text = node.textContent.substring(startOffset, endOffset);
      let posttext = node.textContent.substring(endOffset);
      let newNodes = [];
      if (pretext.length > 0) {
        newNodes.push(document.createTextNode(pretext));
      }
      let marker = document.createElement("mark");
      marker.id = `m-${index}`;
      if (cls) {
        marker.classList.add(cls);
      }
      if (highlight && highlight.text) {
        marker.setAttribute("title", highlight.text);
      }
      // TODO: handle a menu post-highlight
      // We need to make sure the menu is linked to the proper highlight
      // etc.
      // marker.addEventListener("click", event => {
      //   this.highlight = highlight;
      //   this.displayMenu(event);
      // });

      marker.appendChild(document.createTextNode(text));
      newNodes.push(marker);

      if (posttext.length > 0) {
        newNodes.push(document.createTextNode(posttext));
      }
      return newNodes;
    },
    undo() {
      // TODO: this doesn't work well if we mix up highlights with comments
      // in the props from the parent - address that
      if (!this.undoable) return;

      let highlight = this.highlights.pop();
      if (highlight) {
        let mark = this.$el.querySelector(`#m-${this.highlights.length}`);
        let parent = mark.parentElement;
        mark.replaceWith(document.createTextNode(mark.textContent));
        parent.normalize();
      }
    }
  }
};
</script>
