<template>
  <div
    id="highlight-menu"
    class="absolute m-2 p-2 w-auto bg-gray-700 rounded-lg shadow-xl cursor-pointer"
    v-if="menu"
    :style="{ top: menuTop + 'px', left: menuLeft + 'px' }"
  >
    <textarea
      class="text-sm p-1 focus:outline-none"
      ref="textarea"
      :cols="cols"
      :rows="rows"
      :placeholder="placeholder"
      v-if="menu.comment && addComment"
      v-model="highlight.text"
      @keyup.esc="cancel"
    ></textarea>

    <div class="clearfix">
      <!-- left-hand buttons -->
      <span
        class="float-left m-1"
        v-for="(item, index) in menu.actions"
        :key="index"
        @click.stop="menuClicked(item)"
      >
        <BaseIcon :name="item.icon" :color="item.color" />
      </span>

      <!-- filler -->
      <span class="float-left m-2">&nbsp;</span>

      <!-- right-hand buttons -->
      <span class="float-left m-1" @click.stop="showTextarea">
        <BaseIcon name="comments" v-if="menu.comment" v-show="!addComment" />
      </span>
      <span id="menu-close" class="float-right m-1" @click.stop="cancel">
        <BaseIcon name="close-outlined" />
      </span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    highlight: { type: Object, required: true },
    menu: { type: Object, required: false },
    x: { type: Number, required: true },
    y: { type: Number, required: true },
    absolute: { type: Boolean, default: false },
    cols: { type: Number, default: 22 },
    rows: { type: Number, default: 6 }
  },
  data() {
    return {
      addComment: false,
      menuTop: 0,
      menuLeft: 0,
      placeholder:
        "Add a comment (or not), then click on a color... \nESC or click (X) to cancel."
    };
  },
  mounted() {
    let parentRect = this.$parent.$el.getBoundingClientRect
      ? this.$parent.$el.getBoundingClientRect()
      : { width: 320, height: 200 };
    let menuRect = this.$el.getBoundingClientRect
      ? this.$el.getBoundingClientRect()
      : { width: 100, height: 32 };

    if (this.absolute) {
      this.menuTop = this.y - 8;
      this.menuLeft = Math.max(
        0,
        Math.min(this.x - 8, parentRect.right - menuRect.width - 30) -
          parentRect.left
      );
    } else {
      this.menuTop = this.y - parentRect.top + 8;

      this.menuLeft = Math.max(
        0,
        Math.min(
          this.x - menuRect.width / 2,
          parentRect.right - menuRect.width - 20
        ) - parentRect.left
      );
    }
  },
  methods: {
    menuClicked(item) {
      if (item.callback) {
        item.callback(this.highlight);
      }
      this.$emit("menu-clicked");
    },
    cancel() {
      this.$emit("menu-cancel");
    },
    showTextarea() {
      this.addComment = true;
      this.$nextTick(() => this.$refs.textarea.focus());
    }
  }
};
</script>
