<template>
  <div>
    <header class="my-4">
      <h2 class="text-lg font-thin">
        I would love your feedback on this image.
      </h2>
      <p class="text-xs font-thin">
        Post general comments below, or just highlight a part of the image to
        comment on.
        <!-- Use Ctrl-Z to undo a highlight. -->
      </p>
    </header>

    <div class="wrapper highlightable" ref="wrapper" tabindex="-1" v-focus>
      <!--
      @keyup.exact.ctrl.z="undo"
      @keyup.exact.meta.z.prevent="undo"
      @keyup.exact.ctrl.shift.z="redo"
      @keyup.exact.meta.shift.z="redo"
      -->
      <div class="inside">
        <!-- TODO: user-provided image (prop?) -->
        <img v-if="imageUrl" :src="imageUrl" ref="image" @load="rescale" />
        <canvas
          width="256"
          height="256"
          ref="canvas"
          @pointerdown.prevent="startDrawing"
          @pointermove.prevent="capturePointer"
          @pointerup.prevent="finishDrawing"
        ></canvas>
        <transition-group tag="div" name="slide-up">
          <template v-for="(hl, index) in highlights">
            <div
              v-if="hl.text && hl.path"
              class="
            comment
            p-2 py-1
            max-w-sm
            text-sm bg-white
            border border-gray-500 rounded-lg rounded-tl-none shadow
            opacity-75
            hover:opacity-100
            z-10
            hover:z-20
          "
              :style="{
                top: hl.path[0].y / scale + 'px',
                left: hl.path[0].x / scale + 'px'
              }"
              :key="index"
            >
              {{ hl.text }}
            </div>
          </template>
        </transition-group>
        <highlight-menu
          class="z-50"
          ref="menu"
          v-if="menu && showMenu"
          :menu="menu"
          :highlight="highlight"
          :absolute="true"
          :x="menuX"
          :y="menuY"
          :rows="4"
          @menu-clicked="menuClicked"
          @menu-cancel="menuCancel"
        />
      </div>
    </div>
  </div>
</template>

<script>
import HighlightMenu from "./HighlightMenu";
import backend from "@/services/ItemsBackend.js";

const OPACITY = "A0";
const YELLOW = "#f6e05e" + OPACITY;
const RED = "#feb2b2" + OPACITY;
const GREEN = "#9ae6b4" + OPACITY;
const BRUSH_WIDTH = 4;
const DEBOUNCE_MS = 50;
const MAX_WIDTH = 1280;

export default {
  name: "HighlightableDrawing",
  components: {
    HighlightMenu
  },
  props: {
    id: { type: String },
    highlights: { type: Array, required: true }
  },
  data() {
    return {
      drawing: false,
      path: [],
      ctx: null,
      scale: 1,
      count: 0,
      highlight: {},
      // highlights: [],
      undoBuffer: [],
      lastBounce: Date.now(),
      imageUrl: null,
      menu: {
        comment: true,
        actions: [
          {
            icon: "thumbs-up",
            color: "text-green-300",
            callback: this.thumbsUp
          },
          {
            icon: "marker",
            color: "text-yellow-400"
          },
          {
            icon: "thumbs-down",
            color: "text-red-300",
            callback: this.thumbsDown
          }
        ]
      },
      showMenu: false,
      menuX: 0,
      menuY: 0
    };
  },
  created() {
    this.imageUrl = backend.getFileUrl(this.id);
  },
  mounted() {
    this.eventListeners = [
      this.$window.addEventListener("resize", this.rescale)
    ];
    // ??? we may need this... this.drawAll();
  },
  beforeDestroy() {
    this.eventListeners.forEach(listener => {
      this.$window.removeEventListener("resize", listener);
    });
  },
  watch: {
    highlights(val, oldVal) {
      this.drawAll();
    }
  },
  methods: {
    rescale() {
      const canvas = this.$refs.canvas;
      const image = this.$refs.image;
      // image is undefined (maybe not loaded yet?)
      if (!image) return;

      const viewportWidth = Math.max(
        this.$document.documentElement.clientWidth,
        this.$window.innerWidth || 0
      );
      this.scale =
        image.naturalWidth / Math.min(viewportWidth * 0.9, MAX_WIDTH);

      const size = {
        width: image.naturalWidth / this.scale,
        height: image.naturalHeight / this.scale
      };
      image.width = size.width;
      image.height = size.height;
      this.ctx = canvas.getContext("2d");
      canvas.width = size.width;
      canvas.height = size.height;
      this.$refs.wrapper.style.width = size.width + "px";
      this.$refs.wrapper.style.height = size.height + "px";
      this.drawAll();
    },
    _addLocation(event) {
      const canvas = this.$refs.canvas;
      const rect = canvas.getBoundingClientRect();
      const x = (event.clientX - rect.left) * this.scale;
      const y = (event.clientY - rect.top) * this.scale;
      this.path.push({ x, y });
      return [x, y];
    },
    startDrawing(event) {
      // Prevent clicks on canvas when menu is showing
      if (this.showMenu) return;

      this.drawing = true;
      this.count = 0;
      this.path = [];
      const [x, y] = this._addLocation(event);
      this.ctx.lineWidth = BRUSH_WIDTH;
      this.ctx.strokeStyle = YELLOW;
      this.ctx.beginPath();
      this.ctx.moveTo(x / this.scale, y / this.scale);
    },
    capturePointer(event) {
      // Prevent tracking pointer when menu is showing
      if (this.showMenu) return;

      if (this.drawing) {
        const now = Date.now();
        this.count++;
        if (now - this.lastBounce > DEBOUNCE_MS) {
          const [x, y] = this._addLocation(event);
          this.ctx.lineTo(x / this.scale, y / this.scale);
          this.ctx.stroke();
          this.ctx.beginPath();
          this.ctx.moveTo(x / this.scale, y / this.scale);
          this.lastBounce = now;
        }
      }
    },
    finishDrawing(event) {
      // Prevent when menu is showing
      if (this.showMenu) return;

      this.drawing = false;

      // If there is no path (single click), no highlight
      if (this.path.length > 1) {
        const [x, y] = this._addLocation(event);
        this.ctx.lineTo(x / this.scale, y / this.scale);
        this.ctx.stroke();
        this.highlight = { path: this.path };

        this.menuX = x / this.scale;
        this.menuY = y / this.scale;
        this.showMenu = true;
      }
    },
    drawPath(path, width, color) {
      this.ctx.lineWidth = width;
      this.ctx.strokeStyle = color || YELLOW;
      let { x, y } = path[0];
      this.ctx.beginPath();
      this.ctx.moveTo(x / this.scale, y / this.scale);
      for (let { x, y } of path.slice(1)) {
        this.ctx.lineTo(x / this.scale, y / this.scale);
      }
      this.ctx.stroke();
    },
    drawAll() {
      // only run if context has already been initialized
      if (this.ctx) {
        this.ctx.clearRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height);
        for (let { path, color } of this.highlights) {
          if (path) {
            this.drawPath(path, BRUSH_WIDTH, color);
          }
        }
      }
    },
    // TODO: change this to emit events
    // popHighlight() {
    //   // TODO: event to remove highlight
    //   let last = this.highlights[this.highlights.length - 1];
    //   this.highlights = this.highlights.slice(0, this.highlights.length - 1);
    //   return last;
    // },
    // undo() {
    //   this.showMenu = false;
    //   if (this.highlights.length > 0) {
    //     let last = this.popHighlight();
    //     this.undoBuffer.push(last);
    //   }
    // },
    // redo() {
    //   const last = this.undoBuffer.pop();
    //   if (last) {
    //     this.highlights = [...this.highlights, last];
    //     // TODO: event to add highlight - centralize code for highlight creation
    //   }
    // },
    menuCancel() {
      this.showMenu = false;
      this.drawAll();
    },
    menuClicked() {
      this.showMenu = false;
      this.$emit("added-highlight", this.highlight);
      this.drawAll();
    },
    thumbsUp() {
      this.highlight.color = GREEN;
    },
    thumbsDown() {
      this.highlight.color = RED;
    }
  }
};
</script>

<style lang="scss" scoped>
.inside {
  width: 100%;
  height: 100%;
  position: relative;
}
img,
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
div:focus {
  outline: none;
}
.comment {
  position: absolute;
}
</style>
