<template>
  <nav class="text-sm p-4 bg-gray-800 text-white">
    <router-link :to="{ name: 'about' }">Kemendius</router-link>
    <router-link class="nav-button" :to="{ name: 'add-text' }"
      ><BaseIcon name="document-add" />
      <span class="hidden sm:inline">Post a text</span>
    </router-link>
    <router-link class="nav-button" :to="{ name: 'add-image' }"
      ><BaseIcon name="photo" />
      <span class="hidden sm:inline">Upload an image</span>
    </router-link>
  </nav>
</template>
