@tailwind base;

// /* latin-ext */
// @font-face {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: local("Lato Regular"), local("Lato-Regular"),
//     url(lato-latin-ext.woff2) format("woff2");
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
//     U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: local("Lato Regular"), local("Lato-Regular"),
//     url(lato-latin.woff2) format("woff2");
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
//     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
//     U+FEFF, U+FFFD;
// }

/* purgecss start ignore */

body {
  // font-family: "Open Sans", "Avenir", "Lato", Helvetica, Arial, sans-serif;
  min-width: 320px;
  @apply bg-gray-100;
}

a {
  @apply text-blue-500 font-medium;
}

nav {
  a {
    @apply text-base font-normal text-gray-100 py-2 mr-4;

    &:hover {
      @apply text-gray-300;
    }

    &.router-link-exact-active {
      @apply text-white font-extrabold;
    }
  }
  .nav-button {
    @apply bg-blue-500 rounded-md px-4;
  }
}

mark {
  @apply bg-yellow-300;
  cursor: pointer;

  &:hover {
    @apply opacity-75;
  }

  &.highlight-good {
    @apply bg-green-300;
  }

  &.highlight-bad {
    @apply bg-red-300;
  }
}

h1 {
  @apply my-2;
  @apply font-semibold;
  @apply text-xl;
}

h2 {
  @apply my-2;
  @apply font-semibold;
  @apply text-lg;
}

h3 {
  @apply my-2;
  @apply font-semibold;
}

.highlightable {
  cursor: url(/highlighter.png) 0 32, default;
}

.highlightable,
.markdown {
  p {
    @apply my-2;
  }

  ul {
    @apply list-disc pl-6;
  }

  blockquote {
    @apply m-0 pl-4 border-gray-300 border-l-4 italic;
  }
}

/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
