<template>
  <div v-once v-html="about" class="markdown"></div>
</template>

<script>
import marked from "marked";

const ABOUT = `
# Welcome to Kemendius

Kemendius is the simplest way to ask people for feedback.

## Post some work that you want feedback on

You can either post some text, or upload an image.
Kemendius will generate a link that you can share with whomever
you want, so that they can provide you with feedback, in the
form of comments, highlights...

> If you want formatted text you can use
> <a href="https://commonmark.org/help/" target="_blank">Markdown</a>
> syntax.


## Providing feedback

When you open a kemendius link for a piece of text or an image,
you can add highlights and comments. Those will be visible to the
author and everyone else that has access to that link.
`;

export default {
  name: "About",
  metaInfo: { title: "About" },
  data() {
    return {
      about: marked(ABOUT)
    };
  }
};
</script>
