<template>
  <div>
    <FileUploadForm @form-submitted="formSubmitted" ref="form" />
    <progress max="100" class="h-1 w-full" :value="percent"></progress>
    <p class="text-red-700" v-if="error">{{ error }}</p>
    <img v-if="uploadedUrl" :src="uploadedUrl" />
  </div>
</template>

<script>
// import { mapActions } from "vuex";
import backend from "@/services/ItemsBackend";

import FileUploadForm from "@/components/FileUploadForm";

const MAX_SIZE_MB = 4;

export default {
  name: "AddFilePage",
  components: {
    FileUploadForm
  },
  metaInfo: {
    title: "Upload some image"
  },
  data() {
    return {
      percent: 0,
      error: null,
      uploadedUrl: null
    };
  },
  methods: {
    // ...mapActions("feedback", ["createItem"]),

    setProgress(progressEvent) {
      this.percent = Math.round(
        (progressEvent.loaded * 100) / progressEvent.total
      );
    },
    async upload(data, file) {
      this.setProgress({ loaded: 0, total: file.size });

      var config = {
        onUploadProgress: this.setProgress
      };

      try {
        let response = await backend.uploadFile(data, config);
        const id = response.data;
        return id;
      } catch (err) {
        this.error = err.message;
      }
    },
    async formSubmitted({ data, file }) {
      this.error = null;
      if (file.size > MAX_SIZE_MB * 1000000) {
        this.error = `File too big. Try with a file smaller than ${MAX_SIZE_MB}Mb.`;
      } else {
        let id = await this.upload(data, file);
        if (!this.error) {
          this.uploadedUrl = window.location.protocol + backend.getFileUrl(id);
          this.$router.push({ name: "image", params: { id } });
        }
      }
    }
  }
};
</script>
<style scoped>
progress {
  width: 10;
}
</style>
