<template>
  <feedback-item-form @item-submitted="itemSubmitted" ref="form" />
</template>

<script>
import { mapActions } from "vuex";

import FeedbackItemForm from "@/components/FeedbackItemForm";

export default {
  name: "AddTextPage",
  components: {
    FeedbackItemForm
  },
  metaInfo: {
    title: "Post some text"
  },
  methods: {
    ...mapActions("feedback", ["createItem"]),
    async itemSubmitted(item) {
      await this.createItem(item);
      this.$router.push({ name: "text", params: { id: item.id } });
    }
  }
};
</script>
