<template>
  <div>
    <highlightable-drawing
      :id="id"
      :highlights="item.comments"
      @added-highlight="addedHighlight"
    />
    <Comments @comment-submitted="addedHighlight" :comments="item.comments" />
    <p class="font-thin">
      <small>
        Send this link to collect feedback:
        <router-link :to="{ name: 'image', params: { id } }">{{
          $window.location
        }}</router-link>
      </small>
    </p>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

import HighlightableDrawing from "@/components/HighlightableDrawing";
import Comments from "@/components//Comments";

export default {
  name: "ImageFeedbackPage",
  components: {
    Comments,
    HighlightableDrawing
  },
  metaInfo() {
    return { title: this.title };
  },
  props: {
    id: { type: String, required: true }
  },
  data() {
    return { loading: true };
  },
  computed: {
    ...mapState({ item: state => state.feedback.item }),
    title() {
      if (this.loading) {
        return "Loading...";
      } else {
        let title = this.item.name;
        if (this.item.comments.length > 0) {
          title += ` (${this.item.comments.length})`;
        }
        return title;
      }
    }
  },
  async created() {
    this.loading = true;
    try {
      await this.loadItem({ id: this.id, type: "file" });
    } finally {
      this.loading = false;
    }
  },
  methods: {
    ...mapActions("feedback", ["loadItem", "createComment"]),
    async addedHighlight(highlight) {
      await this.createComment(highlight);
    }
  }
};
</script>
