<template>
  <div>
    <ActiveUsers :viewers="viewers" />
    <p class="my-4 text-sm" v-if="loading">Loading...</p>

    <FeedbackItem
      v-else-if="item.id"
      :item="item"
      @added-highlight="addedComment"
      @added-comment="addedComment"
    />

    <!-- TODO: use a better visual placeholder -->
    <p class="my-4 text-sm" v-else>
      <NotFoundPage />
    </p>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

import ActiveUsers from "@/components/ActiveUsers";
import FeedbackItem from "@/components/FeedbackItem";
import NotFoundPage from "@/views/NotFoundPage";
import Sockets from "@/services/Sockets";

export default {
  name: "TextFeedbackPage",
  components: {
    ActiveUsers,
    FeedbackItem,
    NotFoundPage
  },
  metaInfo() {
    return { title: this.title };
  },
  props: {
    id: { type: String, required: true }
  },
  data() {
    return {
      loading: false,
      socket: null,
      viewers: 0,
      uid: null
    };
  },
  computed: {
    ...mapState({ item: state => state.feedback.item }),
    title() {
      if (this.loading || !this.item.text) {
        return "Loading...";
      } else {
        let title = this.item.text.substring(0, 12) + "...";
        if (this.item.comments.length > 0) {
          title += ` (${this.item.comments.length})`;
        }
        return title;
      }
    }
  },
  async created() {
    this.socket = Sockets.connect(this.id, this.messageReceived);
    this.loading = true;
    try {
      await this.loadItem({ id: this.id });
    } finally {
      this.loading = false;
    }
  },
  mounted() {
    // Unique id to identify source of comments, so that we can
    // discriminate websocket messages
    this.uid = (Math.random() * 10000000) | 0;
  },
  beforeDestroy() {
    this.socket.onclose = null;
    this.socket.close();
  },
  methods: {
    ...mapActions("feedback", ["loadItem", "createComment", "pushComment"]),
    async itemSubmitted(item) {
      await this.createItem(item);
      this.$router.push({ name: "text", params: { id: item.id } });
    },
    async addedComment(comment) {
      await this.createComment(comment);
      // TODO: this should be done automatically by the backend
      Sockets.send(
        this.socket,
        JSON.stringify({ source: this.uid, ...comment })
      );
    },
    messageReceived(message) {
      // When receiving a comment via a websocket, check that it's
      // from a different source
      const comment = JSON.parse(message.data);
      if (comment.event) {
        this.viewers = comment.sessions - 1;
      }
      // TODO: better filtering of session events vs messages
      if (!comment.event && comment.source !== this.uid) {
        // TODO: this doesn't trigger highlight redrawing...
        this.pushComment(comment);
      }
    }
  }
};
</script>
